<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Serve CSS through FastAPI -->
    <link rel="stylesheet" href="{{ url_for('static', path='css/login.css') }}">
</head>
<body>
    <div class="login-box">
        <form id="loginForm">
            <h1>WELCOME BACK</h1>
            <h2>Please sign in to continue</h2>

            <div class="input-box">
                <input type="text" name="username" required>
                <label><b>Username</b></label>
                <img src="../static/assets/mail.webp" alt="User Icon" class="input-icon">
            </div>

            <div class="input-box">
                <input type="password" name="password" required>
                <label><b>Password</b></label>
                <img src="../static/assets/lock.webp" alt="Lock Icon" class="input-icon">
            </div>

            <div class="remember-forgot">
                <label><input type="checkbox">Remember me</label>
                <a href="#">Forgot Password?</a>
            </div>

            <button type="submit">Sign in</button>

            <div class="sign-up">
                <p>Don't have an account? <a href="/signup">Sign Up</a></p>
            </div>

            <div id="popupMessage" class="popup-message"></div>
        </form>
    </div>

    <script src = "{{ url_for('static', path='script/login.js') }}"></script> 
</body>
</html>
