<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Design</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/dashboard_sidebar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/main_dashboard.css') }}">
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <div class="sidebar"> 
         <div class="logo"></div>
         <ul class="menu">
            <li class = "active">
                <a href="#">
                    <i class="fas fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/dashboard/vicinity_map">
                    <i class="fas fa-map"></i>
                    <span>Vicinity Map</span>
                </a>
            </li>
            <li>
                <a href="/dashboard/contact_us">
                    <i class="fas fa-phone-square"></i>
                    <span>Contact Us</span>
                </a>
            </li>
            <li>
                <a href="/dashboard/buyaplan">
                    <i class="fas fa-shopping-cart"></i>
                    <span>Buy a Plan</span>
                </a>
            </li>
            <li>
                <a href="/dashboard/payment">
                    <i class="fas fa-tag"></i>
                    <span>Payments</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-clipboard"></i>
                    <span>Contract</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-gear"></i>
                    <span>Maintenance</span>
                </a>
            <li>
                <a href="#">
                    <i class="fas fa-address-card"></i>
                    <span>Profile</span>
                </a>
            </li>
 
            </li>
            <li class = "logout">
                <a href="/">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Logout</span>
                </a>
            </li>
         </ul>
    </div>
</body>
</html>